name: CI/CD Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker image
      run: |
        docker build -t arjunpandit/real_estate_insights:latest .

    - name: Push Docker image
      run: |
        docker push arjunpandit/real_estate_insights:latest

    - name: Deploy on AWS EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker stop real_estate_app || true
          docker rm real_estate_app || true
          docker pull arjunpandit/real_estate_insights:latest
          docker run -d -p 8501:8501 --name real_estate_app arjunpandit/real_estate_insights:latest
